<script src="./ext/vue.min.js"></script>
<script src="./ext/hls.min.js"></script>
<script src="./ext/jquery-1.8.3.js"></script>

<div id="app-4">
  <div id="wf" style="margin:0 auto; width:80%;">
    <div style="margin:10px;">
      <input v-model="querywd" v-bind:placeholder="placeholder" size="50" type='text'/>
      <button v-on:click="querypage">查询</button>
    </div>
    <!-- <video id="video" controls style="float:left;max-height: 900px;min-height: 340px"></video> -->
    <div v-if="currenthostindex" v-for="(item,index) in getlist_rsp.data" class="unit" >
      <div style="margin:10px; border:0px;">
        <!-- <img v-bind:src="item.imageUrl" style="width:18px;height:23px;"> -->	
        <p>
			<a v-bind:href="item.url">
			<span style="color:blue;">{{ item.hosttitle }}</span>:
			<span style="color:red;">{{ item.title }}</span>
			<span style="color:#C0C0C0;">({{ item.msg }})</span>
			</a>
		</p>
      </div>
    </div>
  </div>
</div>
<script src="test.js"></script>